<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="./reset.css" rel="stylesheet"/>
    <link href="./global.css" rel="stylesheet"/>
    <link href="./main.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <header class="header">
        <a href="/"><img src="./img/signiture.svg"/></a>
        <ul class="header__menu">
            {{ menuComponent }}
        </ul>
    </header>
    <div class="wrapper">
        {{ article }}

    </div>
</div>
</body>
</html>
